* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body {
    padding: 20px;
}

header h1 {
    margin: 0 auto 20px auto;
    text-align: center;
}

button.btn {
    border-radius: 6px;
    border: none;
    background: #5EB1BF;
    color: #FFF;
    padding: 10px 20px;
    font-size: 14px;
}

button.btn:hover,
button.btn:focus {
    background: #4598A6;
    outline: none;
}

button.btn:active {
    background: #2B7E8C;
    outline: none;
}

#gameContainer {
    height: 400px;
    width: 300px;
    border: 1px solid #000;
    margin: 20px auto;
    background: #CDEDF6;
    position: relative;
    padding: 10px;
    overflow: hidden;
}

#gameContainer #score {
    text-align: right;
    float: right;
}

#gameContainer #highscore {
    text-align: left;
    float: left;
}

#gameContainer #startButton {
    display: block;
    margin: 0 auto 20px auto;
    width: 50%;
    cursor: pointer;
}

.brickContainer {
    position: relative;
}

.brick {
    background: #EF7B45;
    height: 20px;
    width: 100px;
    margin: auto;
    border: 1px solid #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.brick.original {
    z-index: 30;
}

.brick.original,
.brick.ten {
    background: #AFA2FF;
}

.brick.five {
    background: #E3D7FF;
}

.brick.landed {
    box-shadow: #000 0 0 0 1px;
}

.brick.hit {
    box-shadow: #FF0000 0 0 1px 1px;
}

#mainContent {
    position: relative;
    margin-top: 40px;
}

h2 {
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
}

#instructions {
    text-align: center;
    margin: 40px 0 20px 0;
    font-size: 12px;
}

#gameOverContent {
    position: absolute;
    width: 100%;
    top: 10px;
    text-align: center;
    display: none;
}

#gameOverContent h3 {
    margin: 0;
    font-size: 36px;
}

#gameContainer #gameOverContent #restartButton #jumpButton {
    position: relative;
    margin: 20px auto;
    display: block;
    width: 50%;
    cursor: pointer;
}

#gameContainer #gameOverContent #instructionsRestart {
