* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body {
    padding: 20px;
}

header h1 {
    margin: 0 auto 20px auto;
    text-align: center;
}

button.btn {
    border-radius: 6px;
    border: none;
    background: #5EB1BF;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
}

button.btn:hover,
button.btn:focus {
    background: #4598A6;
    outline: none;
}

button.btn:active {
    background: #2B7E8C;
    outline: none;
}

#gameContainer {
    height: 400px;
    width: 300px;
    border: 1px solid #000;
    margin: 20px auto;
    background: #CDEDF6;
    position: relative;
    padding: 10px;
    overflow: hidden;
}

#gameContainer #score {
    text-align: right;
    float: right;
}

#gameContainer #highscore {
    text-align: left;
    float: left;
}

#gameContainer #startButton {
    position: absolute;
    bottom: 20px;
    margin: auto;
    display: block;
    left: 25%;
    right: 25%;
    width: 50%;
    cursor: pointer;
}

.brickContainer {
    position: relative;
}

.brick {
    background: #EF7B45;
    height: 20px;
    width: 100px;
    margin: auto;
    border: 1px solid #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#startPage {
    position: relative;
    margin-top: 40px;
}

#startPage h2 {
    margin: 20px auto;
    text-align: center;
    font-size: 16px;
}

#startPage #instructions {
    text-align: center;
    margin: 40px 0 20px 0;
    font-size: 12px;
}

#startPage #gameOverContent {
    position: absolute;
    width: 100%;
    top: 10px;
    text-align: center;
    display: none;
}

#startPage #gameOverContent h3 {
    margin: 0;
    font-size: 36px;
}

#gameContainer #gameOverContent #restartButton {
    position: relative;
    margin: 20px auto;
    display: block;
    width: 50%;
    cursor: pointer;
}

#gameContainer #gameOverContent #instructionsRestart {
    font-size: 12px;
}

#startPage .catContainerOuter {
    margin-top: 100px;
    position: relative;
}

#startPage .catContainer {
    position: relative;
}

#startPage .cat {
    height: 70px;
    margin: auto;
    display: block;
    position: relative;
}

#startPage .catStanding {
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#startPage .catJumping {
    opacity: 0;
}

#startPage .catFalling {
    position: absolute;
    opacity: 0;
    width: 70px;
    height: auto;
    left: 50%;
    transform: translateX(-50%) rotateZ(90deg);
    bottom: 20px;
}

#startPage .catContainer.dead .catJumping,
#startPage .catContainer.dead .catStanding {
    opacity: 0 !important;
}

#startPage .homeScreen .catStanding {
    animation: FadeInOutDemo 1s ease-in-out infinite;
}

#startPage .homeScreen .catJumping {
    animation: MoveUpDownDemo 1s ease-in-out infinite;
}

#startPage .catContainer.dead.left .catFalling {
    opacity: 1;
    animation: FallDownLeft 1s linear forwards;
}

#startPage .catContainer.dead.right .catFalling {
    opacity: 1;
    animation: FallDownRight 1s linear forwards;
}

@keyframes MoveUpDownDemo {
    0% {
        bottom: 0;
        opacity: 0;
    }
    20% {
        bottom: 0;
        opacity: 0;
    }
    21% {
        opacity: 1;
    }
    50% {
        bottom: 80px;
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes FadeInOutDemo {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    21% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes FallDownLeft {
    0% {
        bottom: 20px;
        opacity: 1;
    }
    80% {
        bottom: 25px;
        transform: translateX(-170%) rotateZ(70deg);
    }
    100% {
        bottom: -90px;
        opacity: 1;
        transform: translateX(-200%) rotateZ(0deg);
    }
}

@keyframes FallDownRight {
    0% {
        bottom: 20px;
        opacity: 1;
        transform: translateX(-50%) rotateZ(90deg) scaleY(-1);
    }
    80% {
        bottom: 25px;
        transform: translateX(70%) rotateZ(110deg) scaleY(-1);
    }
    100% {
        bottom: -90px;
        opacity: 1;
        transform: translateX(100%) rotateZ(180deg) scaleY(-1);
    }
}
